@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa&display=swap");

:root {
  --dark-grey: #1a2a32;
  -grey: #2e4756;
  --turquoise: #3cc4bf;
  --yellow: #f2b147;
  --light-grey: #d3d3d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Lisu Bosa", cursive;
  border: none;
}

html,
body {
  height: 100%;
  background-color: var(--dark-grey);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: 50px repeat(3, 80px) 60px;
  grid-gap: 5px;
}

.grid div {
  background-color: red;
  margin: 10px;
}
